### The configuration file for Ansible
# For the available options, see https://docs.ansible.com/ansible/latest/reference_appendices/config.html


[defaults]
# The default Ansible inventory source
inventory=inventory/staging

# The default root path for Ansible config files on the controller.
home=.ansible

# Colon-separated paths in which Ansible will search for Roles.
roles_path=roles:.ansible/roles

# Colon-separated paths in which Ansible will search for collections content.
collections_path=collections:.ansible/collections
