[Unit]
Description={{ stack_name }} Docker Stack

Requires=docker.service
After=docker.service network-online.target remote-fs.target
Wants=network-online.target

RequiresMountsFor={{ data_mount }}

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ stack_path }}

ExecStartPre=/usr/bin/mountpoint -q {{ data_mount }}
ExecStart=/usr/bin/docker compose -f {{ stack_path }}/docker-compose.yml up -d

TimeoutStartSec=0

[Install]
WantedBy=multi-user.target